In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
#df = pd.read_csv('./data/data.csv', index_col = 0)
#df

          Pid  DealPrice  DealQty  BidQty1   Bid1   Ask1  AskQty1  midprice
TxTime
00:38.8  3227      126.5      216       60  126.5  127.0      110    126.75
00:43.8  3227      127.0        2       60  126.5  127.0      108    126.75
00:48.8  3227      127.0        6       62  126.5  127.0      102    126.75
00:53.9  3227      127.0        7       63  126.5  127.0      102    126.75
00:58.9  3227      127.0        7       93  126.5  127.0      103    126.75
...       ...        ...      ...      ...    ...    ...      ...       ...
24:39.0  3227      130.5        1      212  130.0  130.5       22    130.25
24:44.0  3227        0.0        0      213  130.0  130.5       22    130.25
24:49.0  3227        0.0        0      213  130.0  130.5       15    130.25
24:54.0  3227      130.5        1      213  130.0  130.5       14    130.25
24:59.1  3227      130.5        1      215  130.0  130.5       16    130.25

[253060 rows x 8 columns]

# setting

In [9]:
#current smoothed mid price periods
#N_b = [5, 7, 9, 11]
#the mean of the next N_a smoothed mid price periods
#N_a = [1, 5, 10]
#the threshold of price movement
#alpha = [0.0001, 0.0002, 0.0003]

In [14]:
#df['m_b'] = df['midprice'].rolling(N_b[2]).mean()
#df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,midprice,m_b
TxTime,,,,,,,,,
00:38.8,3227,126.5,216,60,126.5,127.0,110,126.75,NaN
00:43.8,3227,127.0,2,60,126.5,127.0,108,126.75,NaN
00:48.8,3227,127.0,6,62,126.5,127.0,102,126.75,NaN
00:53.9,3227,127.0,7,63,126.5,127.0,102,126.75,NaN
00:58.9,3227,127.0,7,93,126.5,127.0,103,126.75,NaN
...,...,...,...,...,...,...,...,...,...
24:39.0,3227,130.5,1,212,130.0,130.5,22,130.25,130.25
24:44.0,3227,0.0,0,213,130.0,130.5,22,130.25,130.25
24:49.0,3227,0.0,0,213,130.0,130.5,15,130.25,130.25
24:54.0,3227,130.5,1,213,130.0,130.5,14,130.25,130.25
24:59.1,3227,130.5,1,215,130.0,130.5,16,130.25,130.25

In [54]:
#df['m_a'] = df['m_b'].shift(-1)[::-1].rolling(N_a[1]).mean()[::-1]
#df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,midprice,m_b,m_a
TxTime,,,,,,,,,,
00:38.8,3227,126.5,216,60,126.5,127.0,110,126.75,NaN,NaN
00:43.8,3227,127.0,2,60,126.5,127.0,108,126.75,NaN,NaN
00:48.8,3227,127.0,6,62,126.5,127.0,102,126.75,NaN,NaN
00:53.9,3227,127.0,7,63,126.5,127.0,102,126.75,NaN,NaN
00:58.9,3227,127.0,7,93,126.5,127.0,103,126.75,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
24:39.0,3227,130.5,1,212,130.0,130.5,22,130.25,130.25,NaN
24:44.0,3227,0.0,0,213,130.0,130.5,22,130.25,130.25,NaN
24:49.0,3227,0.0,0,213,130.0,130.5,15,130.25,130.25,NaN
24:54.0,3227,130.5,1,213,130.0,130.5,14,130.25,130.25,NaN
24:59.1,3227,130.5,1,215,130.0,130.5,16,130.25,130.25,NaN

In [77]:
#df['pred'] = (df['m_b'] > df['m_a'] * (1 + alpha[0])) * 1
#for i in range(len(df)):
#    if df['m_b'].iloc[i] > df['m_a'].iloc[i] * (1 + alpha[0]):
#        df['pred'].iloc[i] = 1
#    elif df['m_b'].iloc[i] < df['m_a'].iloc[i] * (1 - alpha[0]):
#        df['pred'].iloc[i] = -1
#    else:
#        df['pred'].iloc[i] = 0

In [133]:
#df.head(10)

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,midprice,m_b,m_a,pred
TxTime,,,,,,,,,,,
00:38.8,3227,126.5,216,60,126.5,127.0,110,126.75,NaN,NaN,0
00:43.8,3227,127.0,2,60,126.5,127.0,108,126.75,NaN,NaN,0
00:48.8,3227,127.0,6,62,126.5,127.0,102,126.75,NaN,NaN,0
00:53.9,3227,127.0,7,63,126.5,127.0,102,126.75,NaN,NaN,0
00:58.9,3227,127.0,7,93,126.5,127.0,103,126.75,NaN,NaN,0
01:03.9,3227,127.0,102,92,126.5,127.0,8,126.75,NaN,NaN,0
01:08.9,3227,127.0,11,142,127.0,127.5,40,127.25,NaN,NaN,0
01:13.9,3227,127.0,10,139,127.0,127.5,44,127.25,NaN,126.961111,0
01:18.9,3227,127.0,10,139,127.0,127.5,44,127.25,126.916667,126.972222,-1
01:23.9,3227,127.0,19,11,127.0,127.5,44,127.25,126.972222,126.972222,0

In [94]:
#np.sum(df['pred'] == 1)

32441

In [95]:
#np.sum(df['pred'] == -1)

31687

In [96]:
#np.sum(df['pred'] == 0)

188932

In [104]:
#df['m_a'].isnull().sum()

12

In [129]:
#df.to_csv('./data/data_1.csv',index=False)

In [130]:
#df.rolling(5)

Rolling [window=5,center=False,axis=0]

In [2]:
#df = pd.read_csv('./data/data_1.csv', index_col = 0)
#df

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,midprice,m_b,m_a,pred
Pid,,,,,,,,,,
3227,126.5,216,60,126.5,127.0,110,126.75,NaN,NaN,0
3227,127.0,2,60,126.5,127.0,108,126.75,NaN,NaN,0
3227,127.0,6,62,126.5,127.0,102,126.75,NaN,NaN,0
3227,127.0,7,63,126.5,127.0,102,126.75,NaN,NaN,0
3227,127.0,7,93,126.5,127.0,103,126.75,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
3227,130.5,1,212,130.0,130.5,22,130.25,130.25,NaN,0
3227,0.0,0,213,130.0,130.5,22,130.25,130.25,NaN,0
3227,0.0,0,213,130.0,130.5,15,130.25,130.25,NaN,0
3227,130.5,1,213,130.0,130.5,14,130.25,130.25,NaN,0
3227,130.5,1,215,130.0,130.5,16,130.25,130.25,NaN,0

In [3]:
#df.head(30)

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,midprice,m_b,m_a,pred
Pid,,,,,,,,,,
3227,126.5,216,60,126.5,127.0,110,126.75,NaN,NaN,0
3227,127.0,2,60,126.5,127.0,108,126.75,NaN,NaN,0
3227,127.0,6,62,126.5,127.0,102,126.75,NaN,NaN,0
3227,127.0,7,63,126.5,127.0,102,126.75,NaN,NaN,0
3227,127.0,7,93,126.5,127.0,103,126.75,NaN,NaN,0
3227,127.0,102,92,126.5,127.0,8,126.75,NaN,NaN,0
3227,127.0,11,142,127.0,127.5,40,127.25,NaN,NaN,0
3227,127.0,10,139,127.0,127.5,44,127.25,NaN,126.961111,0
3227,127.0,10,139,127.0,127.5,44,127.25,126.916667,126.972222,-1
3227,127.0,19,11,127.0,127.5,44,127.25,126.972222,126.972222,0
3227,127.0,19,62,126.5,127.0,35,126.75,126.972222,126.961111,0
3227,126.5,1,61,126.5,127.0,48,126.75,126.972222,126.938889,1
3227,127.0,4,59,126.5,127.0,51,126.75,126.972222,126.905556,1
3227,126.5,5,74,126.5,127.0,53,126.75,126.972222,126.861111,1
3227,126.5,4,91,126.5,127.0,57,126.75,126.972222,126.805556,1
3227,126.5,5,110,126.5,127.0,66,126.75,126.916667,126.750000,1
3227,126.5,6,109,126.5,127.0,67,126.75,126.861111,126.694444,1
3227,126.5,12,99,126.5,127.0,74,126.75,126.805556,126.627778,1
3227,126.5,20,40,126.5,127.0,76,126.75,126.750000,126.561111,1
3227,126.5,3,120,126.0,126.5,91,126.25,126.694444,126.483333,1
3227,126.0,4,78,126.0,126.5,92,126.25,126.638889,126.394444,1
3227,126.0,9,20,126.0,126.5,64,126.25,126.583333,126.305556,1
3227,126.0,25,121,125.5,126.0,2,125.75,126.472222,126.216667,1
3227,126.0,16,9,126.0,126.5,45,126.25,126.416667,126.127778,1
3227,126.0,18,60,125.5,126.0,3,125.75,126.305556,126.050000,1
3227,126.0,1,60,125.5,126.0,4,125.75,126.194444,125.983333,1
3227,126.0,6,4,126.0,126.5,52,126.25,126.138889,125.927778,1
3227,126.0,8,63,125.5,126.0,2,125.75,126.027778,125.883333,1
3227,125.5,5,59,125.5,126.0,9,125.75,125.972222,125.850000,1
3227,0.0,0,69,125.5,126.0,46,125.75,125.916667,125.827778,1

In [4]:
#df_new = pd.read_csv('./data/data.csv', index_col = 0)
#df_new

          Pid  DealPrice  DealQty  BidQty1   Bid1   Ask1  AskQty1  midprice
TxTime
00:38.8  3227      126.5      216       60  126.5  127.0      110    126.75
00:43.8  3227      127.0        2       60  126.5  127.0      108    126.75
00:48.8  3227      127.0        6       62  126.5  127.0      102    126.75
00:53.9  3227      127.0        7       63  126.5  127.0      102    126.75
00:58.9  3227      127.0        7       93  126.5  127.0      103    126.75
...       ...        ...      ...      ...    ...    ...      ...       ...
24:39.0  3227      130.5        1      212  130.0  130.5       22    130.25
24:44.0  3227        0.0        0      213  130.0  130.5       22    130.25
24:49.0  3227        0.0        0      213  130.0  130.5       15    130.25
24:54.0  3227      130.5        1      213  130.0  130.5       14    130.25
24:59.1  3227      130.5        1      215  130.0  130.5       16    130.25

[253060 rows x 8 columns]

In [6]:
#df_new['m_b'] = df_new['midprice'].rolling(10).mean()
#df_new

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,midprice,m_b
TxTime,,,,,,,,,
00:38.8,3227,126.5,216,60,126.5,127.0,110,126.75,NaN
00:43.8,3227,127.0,2,60,126.5,127.0,108,126.75,NaN
00:48.8,3227,127.0,6,62,126.5,127.0,102,126.75,NaN
00:53.9,3227,127.0,7,63,126.5,127.0,102,126.75,NaN
00:58.9,3227,127.0,7,93,126.5,127.0,103,126.75,NaN
...,...,...,...,...,...,...,...,...,...
24:39.0,3227,130.5,1,212,130.0,130.5,22,130.25,130.25
24:44.0,3227,0.0,0,213,130.0,130.5,22,130.25,130.25
24:49.0,3227,0.0,0,213,130.0,130.5,15,130.25,130.25
24:54.0,3227,130.5,1,213,130.0,130.5,14,130.25,130.25
24:59.1,3227,130.5,1,215,130.0,130.5,16,130.25,130.25

In [31]:
#df_new['pred'] = df_new['m_b']
#for i in range(len(df)):
#    if df_new['midprice'].iloc[i] > df_new['m_b'].iloc[i] * (1 + alpha[0]):
#        df_new['pred'].iloc[i] = 1
#    elif df_new['midprice'].iloc[i] < df_new['m_b'].iloc[i] * (1 - alpha[0]):
#        df_new['pred'].iloc[i] = -1
#    else:
#        df_new['pred'].iloc[i] = 0

In [32]:
#df_new

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,midprice,m_b,pred
TxTime,,,,,,,,,,
00:38.8,3227,126.5,216,60,126.5,127.0,110,126.75,NaN,0.0
00:43.8,3227,127.0,2,60,126.5,127.0,108,126.75,NaN,0.0
00:48.8,3227,127.0,6,62,126.5,127.0,102,126.75,NaN,0.0
00:53.9,3227,127.0,7,63,126.5,127.0,102,126.75,NaN,0.0
00:58.9,3227,127.0,7,93,126.5,127.0,103,126.75,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
24:39.0,3227,130.5,1,212,130.0,130.5,22,130.25,130.25,0.0
24:44.0,3227,0.0,0,213,130.0,130.5,22,130.25,130.25,0.0
24:49.0,3227,0.0,0,213,130.0,130.5,15,130.25,130.25,0.0
24:54.0,3227,130.5,1,213,130.0,130.5,14,130.25,130.25,0.0
24:59.1,3227,130.5,1,215,130.0,130.5,16,130.25,130.25,0.0

In [35]:
df = pd.read_csv('./data/3227.csv', index_col = 0)
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,Ask3,AskQty3,BidQty4,Bid4,Ask4,AskQty4,BidQty5,Bid5,Ask5,AskQty5
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,128.0,149,82,125.0,128.5,30,12,124.5,129.0,68
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,128.0,149,82,125.0,128.5,30,12,124.5,129.0,68
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,128.0,149,82,125.0,128.5,30,17,124.5,129.0,73
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,128.0,149,82,125.0,128.5,30,17,124.5,129.0,74
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,128.0,149,82,125.0,128.5,29,17,124.5,129.0,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,131.5,48,193,128.5,132.0,170,268,128.0,132.5,119
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,131.5,44,193,128.5,132.0,170,267,128.0,132.5,119
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,131.5,44,183,128.5,132.0,166,268,128.0,132.5,119
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,131.5,44,183,128.5,132.0,166,267,128.0,132.5,119
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,131.5,43,183,128.5,132.0,166,268,128.0,132.5,119

In [52]:
#bid ask spread
df['spread1'] = df['Ask1'] - df['Bid1']
df['spread2'] = df['Ask2'] - df['Bid2']
df['spread3'] = df['Ask3'] - df['Bid3']
df['spread4'] = df['Ask4'] - df['Bid4']
df['spread5'] = df['Ask5'] - df['Bid5']
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,AskQty4,BidQty5,Bid5,Ask5,AskQty5,spread1,spread2,spread3,spread4,spread5
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,30,12,124.5,129.0,68,0.5,1.5,2.5,3.5,4.5
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,30,12,124.5,129.0,68,0.5,1.5,2.5,3.5,4.5
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,30,17,124.5,129.0,73,0.5,1.5,2.5,3.5,4.5
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,30,17,124.5,129.0,74,0.5,1.5,2.5,3.5,4.5
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,29,17,124.5,129.0,74,0.5,1.5,2.5,3.5,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,170,268,128.0,132.5,119,0.5,1.5,2.5,3.5,4.5
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,170,267,128.0,132.5,119,0.5,1.5,2.5,3.5,4.5
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,166,268,128.0,132.5,119,0.5,1.5,2.5,3.5,4.5
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,166,267,128.0,132.5,119,0.5,1.5,2.5,3.5,4.5
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,166,268,128.0,132.5,119,0.5,1.5,2.5,3.5,4.5

In [53]:
#midprice
df['mid1'] = (df['Ask1'] + df['Bid1']) / 2
df['mid2'] = (df['Ask2'] + df['Bid2']) / 2
df['mid3'] = (df['Ask3'] + df['Bid3']) / 2
df['mid4'] = (df['Ask4'] + df['Bid4']) / 2
df['mid5'] = (df['Ask5'] + df['Bid5']) / 2
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,spread1,spread2,spread3,spread4,spread5,mid1,mid2,mid3,mid4,mid5
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,0.5,1.5,2.5,3.5,4.5,126.75,126.75,126.75,126.75,126.75
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,0.5,1.5,2.5,3.5,4.5,126.75,126.75,126.75,126.75,126.75
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,0.5,1.5,2.5,3.5,4.5,126.75,126.75,126.75,126.75,126.75
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,0.5,1.5,2.5,3.5,4.5,126.75,126.75,126.75,126.75,126.75
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,0.5,1.5,2.5,3.5,4.5,126.75,126.75,126.75,126.75,126.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,0.5,1.5,2.5,3.5,4.5,130.25,130.25,130.25,130.25,130.25
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,0.5,1.5,2.5,3.5,4.5,130.25,130.25,130.25,130.25,130.25
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,0.5,1.5,2.5,3.5,4.5,130.25,130.25,130.25,130.25,130.25
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,0.5,1.5,2.5,3.5,4.5,130.25,130.25,130.25,130.25,130.25
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,0.5,1.5,2.5,3.5,4.5,130.25,130.25,130.25,130.25,130.25

In [58]:
#price diff 不小心剪掉了
df['a51_diff'] = df['Ask5'] - df['Ask1']
df['b15_diff'] = df['Bid1'] - df['Bid5']
df['a21_diff_abs'] = np.abs(df['Ask2'] - df['Ask1'])
df['a32_diff_abs'] = np.abs(df['Ask2'] - df['Ask1'])
df['a43_diff_abs'] = np.abs(df['Ask2'] - df['Ask1'])
df['a54_diff_abs'] = np.abs(df['Ask2'] - df['Ask1'])
df['b21_diff_abs'] = np.abs(df['Bid2'] - df['Bid1'])
df['b32_diff_abs'] = np.abs(df['Bid3'] - df['Bid2'])
df['b43_diff_abs'] = np.abs(df['Bid4'] - df['Bid3'])
df['b54_diff_abs'] = np.abs(df['Bid5'] - df['Bid4'])

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,a51_diff,b15_diff,a21_diff_abs,a32_diff_abs,a43_diff_abs,a54_diff_abs,b21_diff_abs,b32_diff_abs,b43_diff_abs,b54_diff_abs
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,2.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

In [59]:
#cross-sectional price and volume's mean
df['a_mean'] = (df['Ask1'] +df['Ask2'] +df['Ask3'] +df['Ask4'] +df['Ask5']) / 5
df['b_mean'] = (df['Bid1'] +df['Bid2'] +df['Bid3'] +df['Bid4'] +df['Bid5']) / 5
df['aq_mean'] = (df['AskQty1'] +df['AskQty2'] +df['AskQty3'] +df['AskQty4'] +df['AskQty5']) / 5
df['bq_mean'] = (df['BidQty1'] +df['BidQty2'] +df['BidQty3'] +df['BidQty4'] +df['BidQty5']) / 5
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,a43_diff_abs,a54_diff_abs,b21_diff_abs,b32_diff_abs,b43_diff_abs,b54_diff_abs,a_mean,b_mean,aq_mean,bq_mean
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,0.5,0.5,0.5,0.5,0.5,0.5,128.0,125.5,78.6,57.0
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,0.5,0.5,0.5,0.5,0.5,0.5,128.0,125.5,78.2,57.0
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,0.5,0.5,0.5,0.5,0.5,0.5,128.0,125.5,79.0,58.6
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,0.5,0.5,0.5,0.5,0.5,0.5,128.0,125.5,79.0,58.6
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,0.5,0.5,0.5,0.5,0.5,0.5,128.0,125.5,79.2,64.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,0.5,0.5,0.5,0.5,0.5,0.5,131.5,129.0,76.6,226.2
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,0.5,0.5,0.5,0.5,0.5,0.5,131.5,129.0,75.8,226.2
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,0.5,0.5,0.5,0.5,0.5,0.5,131.5,129.0,73.8,223.6
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,0.5,0.5,0.5,0.5,0.5,0.5,131.5,129.0,73.8,223.2
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,0.5,0.5,0.5,0.5,0.5,0.5,131.5,129.0,74.0,224.0

In [60]:
#price and volume's accumulated diff
df['p_acc_diff'] = (df['Ask1'] - df['Bid1']) + (df['Ask1'] - df['Bid1']) +(df['Ask2'] - df['Bid2']) + (df['Ask3'] - df['Bid3']) + (df['Ask4'] - df['Bid4']) + (df['Ask5'] - df['Bid5'])
df['q_acc_diff'] = (df['AskQty1'] - df['BidQty1']) + (df['AskQty1'] - df['BidQty1']) +(df['AskQty2'] - df['BidQty2']) + (df['AskQty3'] - df['BidQty3']) + (df['AskQty4'] - df['BidQty4']) + (df['AskQty5'] - df['BidQty5'])
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,b21_diff_abs,b32_diff_abs,b43_diff_abs,b54_diff_abs,a_mean,b_mean,aq_mean,bq_mean,p_acc_diff,q_acc_diff
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,0.5,0.5,0.5,0.5,128.0,125.5,78.6,57.0,13.0,158
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,0.5,0.5,0.5,0.5,128.0,125.5,78.2,57.0,13.0,154
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,0.5,0.5,0.5,0.5,128.0,125.5,79.0,58.6,13.0,142
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,0.5,0.5,0.5,0.5,128.0,125.5,79.0,58.6,13.0,141
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,0.5,0.5,0.5,0.5,128.0,125.5,79.2,64.6,13.0,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,0.5,0.5,0.5,0.5,131.5,129.0,76.6,226.2,13.0,-938
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,0.5,0.5,0.5,0.5,131.5,129.0,75.8,226.2,13.0,-943
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,0.5,0.5,0.5,0.5,131.5,129.0,73.8,223.6,13.0,-947
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,0.5,0.5,0.5,0.5,131.5,129.0,73.8,223.2,13.0,-946
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,0.5,0.5,0.5,0.5,131.5,129.0,74.0,224.0,13.0,-949

In [62]:
df['da1_dt'] = df['Ask1'] - df['Ask1'].shift(1)
df['da2_dt'] = df['Ask2'] - df['Ask2'].shift(1)
df['da3_dt'] = df['Ask3'] - df['Ask3'].shift(1)
df['da4_dt'] = df['Ask4'] - df['Ask4'].shift(1)
df['da5_dt'] = df['Ask5'] - df['Ask5'].shift(1)
df['db1_dt'] = df['Bid1'] - df['Bid1'].shift(1)
df['db2_dt'] = df['Bid2'] - df['Bid2'].shift(1)
df['db3_dt'] = df['Bid3'] - df['Bid3'].shift(1)
df['db4_dt'] = df['Bid4'] - df['Bid4'].shift(1)
df['db5_dt'] = df['Bid5'] - df['Bid5'].shift(1)
df['daq1_dt'] = df['AskQty1'] - df['AskQty1'].shift(1)
df['daq2_dt'] = df['AskQty2'] - df['AskQty2'].shift(1)
df['daq3_dt'] = df['AskQty3'] - df['AskQty3'].shift(1)
df['daq4_dt'] = df['AskQty4'] - df['AskQty4'].shift(1)
df['daq5_dt'] = df['AskQty5'] - df['AskQty5'].shift(1)
df['dbq1_dt'] = df['BidQty1'] - df['BidQty1'].shift(1)
df['dbq2_dt'] = df['BidQty2'] - df['BidQty2'].shift(1)
df['dbq3_dt'] = df['BidQty3'] - df['BidQty3'].shift(1)
df['dbq4_dt'] = df['BidQty4'] - df['BidQty4'].shift(1)
df['dbq5_dt'] = df['BidQty5'] - df['BidQty5'].shift(1)
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,daq1_dt,daq2_dt,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,-6.0,5.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,0.0,-1.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,1.0,1.0,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,0.0,0.0,-4.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,-7.0,1.0,0.0,-4.0,0.0,0.0,0.0,-4.0,-10.0,1.0
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,2.0,0.0,-1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0

In [66]:
##pred if 今天 > 前10天平均
df['m_b'] = df['mid1'].rolling(10).mean()
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,daq2_dt,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt,m_b
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,5.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0,NaN
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,-1.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,NaN
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,1.0,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,130.25
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,0.0,-4.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,130.25
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,1.0,0.0,-4.0,0.0,0.0,0.0,-4.0,-10.0,1.0,130.25
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0,130.25
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,0.0,-1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,130.25

In [67]:
df.head(20)

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,daq2_dt,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt,m_b
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,5.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0,NaN
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,-1.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,NaN
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,1.0,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0,NaN
2019/7/1 09:01,3227,127.0,102,92,126.5,127.0,8,78,126.0,127.5,...,0.0,0.0,0.0,-1.0,-1.0,0.0,6.0,1.0,0.0,NaN
2019/7/1 09:01,3227,127.0,11,142,127.0,127.5,40,93,126.5,128.0,...,109.0,-120.0,44.0,-63.0,50.0,15.0,19.0,-24.0,67.0,NaN
2019/7/1 09:01,3227,127.0,10,139,127.0,127.5,44,70,126.5,128.0,...,3.0,-3.0,-5.0,4.0,-3.0,-23.0,2.0,4.0,-2.0,NaN
2019/7/1 09:01,3227,127.0,10,139,127.0,127.5,44,62,126.5,128.0,...,1.0,0.0,0.0,0.0,0.0,-8.0,0.0,-2.0,2.0,NaN
2019/7/1 09:01,3227,127.0,19,11,127.0,127.5,44,63,126.5,128.0,...,2.0,0.0,0.0,0.0,-128.0,1.0,-1.0,0.0,3.0,126.95
2019/7/1 09:01,3227,127.0,19,62,126.5,127.0,35,80,126.0,127.5,...,-117.0,130.0,-42.0,54.0,51.0,17.0,-18.0,25.0,-70.0,126.95
2019/7/1 09:01,3227,126.5,1,61,126.5,127.0,48,80,126.0,127.5,...,0.0,1.0,0.0,0.0,-1.0,0.0,-2.0,2.0,0.0,126.95
2019/7/1 09:01,3227,127.0,4,59,126.5,127.0,51,82,126.0,127.5,...,-1.0,-1.0,0.0,1.0,-2.0,2.0,0.0,-2.0,2.0,126.95
2019/7/1 09:01,3227,126.5,5,74,126.5,127.0,53,83,126.0,127.5,...,12.0,1.0,0.0,0.0,15.0,1.0,0.0,0.0,0.0,126.95
2019/7/1 09:01,3227,126.5,4,91,126.5,127.0,57,83,126.0,127.5,...,0.0,1.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,126.95
2019/7/1 09:01,3227,126.5,5,110,126.5,127.0,66,81,126.0,127.5,...,1.0,2.0,0.0,0.0,19.0,-2.0,0.0,1.0,0.0,126.95
2019/7/1 09:01,3227,126.5,6,109,126.5,127.0,67,121,126.0,127.5,...,5.0,6.0,4.0,1.0,-1.0,40.0,0.0,0.0,0.0,126.90
2019/7/1 09:02,3227,126.5,12,99,126.5,127.0,74,120,126.0,127.5,...,0.0,0.0,6.0,0.0,-10.0,-1.0,30.0,0.0,0.0,126.85
2019/7/1 09:02,3227,126.5,20,40,126.5,127.0,76,120,126.0,127.5,...,2.0,0.0,-1.0,0.0,-59.0,0.0,30.0,2.0,0.0,126.80
2019/7/1 09:02,3227,126.5,3,120,126.0,126.5,91,120,125.5,127.0,...,14.0,-108.0,137.0,-35.0,80.0,0.0,-30.0,-70.0,28.0,126.70

In [75]:
df['pred1'] = df['m_b']
for i in range(len(df) - 1):
    if df['mid1'].iloc[i+1] > df['m_b'].iloc[i] * (1 + alpha[0]):
        df['pred1'].iloc[i+1] = 1
    elif df['mid1'].iloc[i+1] < df['m_b'].iloc[i] * (1 - alpha[0]):
        df['pred1'].iloc[i+1] = -1
    else:
        df['pred1'].iloc[i+1] = 0

In [85]:
df

,Pid,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,...,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt,m_b,pred1
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,3227,126.5,216,60,126.5,127.0,110,78,126.0,127.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/7/1 09:00,3227,127.0,2,60,126.5,127.0,108,78,126.0,127.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
2019/7/1 09:00,3227,127.0,6,62,126.5,127.0,102,79,126.0,127.5,...,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0,NaN,0.0
2019/7/1 09:00,3227,127.0,7,63,126.5,127.0,102,78,126.0,127.5,...,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,NaN,0.0
2019/7/1 09:00,3227,127.0,7,93,126.5,127.0,103,78,126.0,127.5,...,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,3227,130.5,1,212,130.0,130.5,22,142,129.5,131.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,130.25,0.0
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,22,142,129.5,131.0,...,-4.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,130.25,0.0
2019/11/29 13:24,3227,0.0,0,213,130.0,130.5,15,142,129.5,131.0,...,0.0,-4.0,0.0,0.0,0.0,-4.0,-10.0,1.0,130.25,0.0
2019/11/29 13:24,3227,130.5,1,213,130.0,130.5,14,142,129.5,131.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0,130.25,0.0
2019/11/29 13:24,3227,130.5,1,215,130.0,130.5,16,142,129.5,131.0,...,-1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,130.25,0.0

In [77]:
df['pred1'].count()

253059

In [83]:
df.pred1.value_counts()

 0.0    192309
-1.0     30391
 1.0     30359
Name: pred1, dtype: int64

In [86]:
df.to_csv('./data/data_2.csv',index=False)

In [94]:
factor = df.columns

In [92]:
#改成預測mid price -> drop掉之前分類漲跌幅的欄位(pred1、m_b)
df = df.drop(['Pid', 'DealPrice', 'DealQty', 'm_b', 'pred1'], axis=1)
df

,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,BidQty3,Bid3,...,daq1_dt,daq2_dt,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,60,126.5,127.0,110,78,126.0,127.5,36,53,125.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/7/1 09:00,60,126.5,127.0,108,78,126.0,127.5,36,53,125.5,...,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019/7/1 09:00,62,126.5,127.0,102,79,126.0,127.5,41,53,125.5,...,-6.0,5.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0
2019/7/1 09:00,63,126.5,127.0,102,78,126.0,127.5,40,53,125.5,...,0.0,-1.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0
2019/7/1 09:00,93,126.5,127.0,103,78,126.0,127.5,41,53,125.5,...,1.0,1.0,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,212,130.0,130.5,22,142,129.5,131.0,24,316,129.0,...,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2019/11/29 13:24,213,130.0,130.5,22,142,129.5,131.0,24,316,129.0,...,0.0,0.0,-4.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0
2019/11/29 13:24,213,130.0,130.5,15,142,129.5,131.0,25,312,129.0,...,-7.0,1.0,0.0,-4.0,0.0,0.0,0.0,-4.0,-10.0,1.0
2019/11/29 13:24,213,130.0,130.5,14,142,129.5,131.0,26,311,129.0,...,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
2019/11/29 13:24,215,130.0,130.5,16,142,129.5,131.0,26,312,129.0,...,2.0,0.0,-1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0

In [93]:
df.to_csv('./data/data_3.csv',index=False)

In [100]:
df['mid1_t+1'] = df['mid1'].shift(-1)
df = df.drop(['mid1'], axis = 1)
df

,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,BidQty3,Bid3,...,daq2_dt,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt,mid1_t+1
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,60,126.5,127.0,110,78,126.0,127.5,36,53,125.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.75
2019/7/1 09:00,60,126.5,127.0,108,78,126.0,127.5,36,53,125.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126.75
2019/7/1 09:00,62,126.5,127.0,102,79,126.0,127.5,41,53,125.5,...,5.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0,126.75
2019/7/1 09:00,63,126.5,127.0,102,78,126.0,127.5,40,53,125.5,...,-1.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,126.75
2019/7/1 09:00,93,126.5,127.0,103,78,126.0,127.5,41,53,125.5,...,1.0,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0,126.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,212,130.0,130.5,22,142,129.5,131.0,24,316,129.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,130.25
2019/11/29 13:24,213,130.0,130.5,22,142,129.5,131.0,24,316,129.0,...,0.0,-4.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,130.25
2019/11/29 13:24,213,130.0,130.5,15,142,129.5,131.0,25,312,129.0,...,1.0,0.0,-4.0,0.0,0.0,0.0,-4.0,-10.0,1.0,130.25
2019/11/29 13:24,213,130.0,130.5,14,142,129.5,131.0,26,311,129.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0,130.25
2019/11/29 13:24,215,130.0,130.5,16,142,129.5,131.0,26,312,129.0,...,0.0,-1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,NaN

In [102]:
df.to_csv('./data/3227_t+1.csv')

In [103]:
df['next_mid1'] = df['mid1_t+1']
df = df.drop(['mid1_t+1'], axis = 1)
df

,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,BidQty3,Bid3,...,daq2_dt,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt,next_mid1
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,60,126.5,127.0,110,78,126.0,127.5,36,53,125.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.75
2019/7/1 09:00,60,126.5,127.0,108,78,126.0,127.5,36,53,125.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126.75
2019/7/1 09:00,62,126.5,127.0,102,79,126.0,127.5,41,53,125.5,...,5.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0,126.75
2019/7/1 09:00,63,126.5,127.0,102,78,126.0,127.5,40,53,125.5,...,-1.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,126.75
2019/7/1 09:00,93,126.5,127.0,103,78,126.0,127.5,41,53,125.5,...,1.0,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0,126.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019/11/29 13:24,212,130.0,130.5,22,142,129.5,131.0,24,316,129.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,130.25
2019/11/29 13:24,213,130.0,130.5,22,142,129.5,131.0,24,316,129.0,...,0.0,-4.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,130.25
2019/11/29 13:24,213,130.0,130.5,15,142,129.5,131.0,25,312,129.0,...,1.0,0.0,-4.0,0.0,0.0,0.0,-4.0,-10.0,1.0,130.25
2019/11/29 13:24,213,130.0,130.5,14,142,129.5,131.0,26,311,129.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0,130.25
2019/11/29 13:24,215,130.0,130.5,16,142,129.5,131.0,26,312,129.0,...,0.0,-1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,NaN

In [104]:
df.to_csv('./data/3227set.csv')

In [107]:
df['Bid1'].iloc[0:10, ]

TxTime
2019/7/1 09:00    126.5
2019/7/1 09:00    126.5
2019/7/1 09:00    126.5
2019/7/1 09:00    126.5
2019/7/1 09:00    126.5
2019/7/1 09:01    126.5
2019/7/1 09:01    127.0
2019/7/1 09:01    127.0
2019/7/1 09:01    127.0
2019/7/1 09:01    127.0
Name: Bid1, dtype: float64

In [108]:
df.head(10)

,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,BidQty3,Bid3,...,daq2_dt,daq3_dt,daq4_dt,daq5_dt,dbq1_dt,dbq2_dt,dbq3_dt,dbq4_dt,dbq5_dt,next_mid1
TxTime,,,,,,,,,,,,,,,,,,,,,
2019/7/1 09:00,60,126.5,127.0,110,78,126.0,127.5,36,53,125.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.75
2019/7/1 09:00,60,126.5,127.0,108,78,126.0,127.5,36,53,125.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126.75
2019/7/1 09:00,62,126.5,127.0,102,79,126.0,127.5,41,53,125.5,...,5.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,5.0,126.75
2019/7/1 09:00,63,126.5,127.0,102,78,126.0,127.5,40,53,125.5,...,-1.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,126.75
2019/7/1 09:00,93,126.5,127.0,103,78,126.0,127.5,41,53,125.5,...,1.0,0.0,-1.0,0.0,30.0,0.0,0.0,0.0,0.0,126.75
2019/7/1 09:01,92,126.5,127.0,8,78,126.0,127.5,41,59,125.5,...,0.0,0.0,0.0,-1.0,-1.0,0.0,6.0,1.0,0.0,127.25
2019/7/1 09:01,142,127.0,127.5,40,93,126.5,128.0,150,78,126.0,...,109.0,-120.0,44.0,-63.0,50.0,15.0,19.0,-24.0,67.0,127.25
2019/7/1 09:01,139,127.0,127.5,44,70,126.5,128.0,153,80,126.0,...,3.0,-3.0,-5.0,4.0,-3.0,-23.0,2.0,4.0,-2.0,127.25
2019/7/1 09:01,139,127.0,127.5,44,62,126.5,128.0,154,80,126.0,...,1.0,0.0,0.0,0.0,0.0,-8.0,0.0,-2.0,2.0,127.25
2019/7/1 09:01,11,127.0,127.5,44,63,126.5,128.0,156,79,126.0,...,2.0,0.0,0.0,0.0,-128.0,1.0,-1.0,0.0,3.0,126.75

# 3406_2

In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential,Model
from keras.layers import Dense, Dropout, Activation, Flatten, LSTM, TimeDistributed, RepeatVector,Input
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping, ModelCheckpoint
import matplotlib.pyplot as plt
from keras.utils import to_categorical
%matplotlib inline

Using TensorFlow backend.
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [4]:
df = pd.read_csv('./data/3406_2.csv')

In [5]:
df

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,AskQty3,BidQty4,Bid4,Ask4,AskQty4,BidQty5,Bid5,Ask5,AskQty5,TxTime
0,311.0,1,1,309.5,311.0,2,16,309.0,311.5,7,...,18,4,307.5,312.5,8,37,307.0,313.0,1,2020-03-23 09:08:07.863175154+08:00
1,0.0,0,3,309.5,310.0,4,16,309.0,311.0,2,...,7,4,307.5,312.0,18,37,307.0,312.5,8,2020-03-23 09:08:08.816320658+08:00
2,0.0,0,5,310.0,310.5,10,1,309.5,311.0,3,...,7,2,308.5,312.0,19,9,308.0,312.5,8,2020-03-23 09:08:13.428466082+08:00
3,310.5,2,2,310.0,310.5,6,1,309.5,311.0,3,...,7,2,308.5,312.0,19,9,308.0,312.5,8,2020-03-23 09:08:14.392411470+08:00
4,0.0,0,2,310.0,310.5,9,1,309.5,311.0,3,...,7,2,308.5,312.0,19,9,308.0,312.5,8,2020-03-23 09:08:14.763051033+08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513818,0.0,0,11,465.5,466.0,1,40,465.0,466.5,9,...,19,47,464.0,467.5,37,20,463.5,468.0,10,2020-05-05 13:24:54.418567419+08:00
513819,465.5,1,10,465.5,466.0,1,40,465.0,466.5,9,...,19,47,464.0,467.5,37,20,463.5,468.0,10,2020-05-05 13:24:55.337031364+08:00
513820,0.0,0,10,465.5,466.0,1,41,465.0,466.5,9,...,19,47,464.0,467.5,37,20,463.5,468.0,10,2020-05-05 13:24:56.263729572+08:00
513821,0.0,0,10,465.5,466.0,1,42,465.0,466.5,9,...,19,47,464.0,467.5,37,20,463.5,468.0,10,2020-05-05 13:24:57.500711203+08:00
513822,466.0,1,10,465.5,466.5,9,42,465.0,467.0,19,...,37,47,464.0,468.0,10,20,463.5,468.5,4,2020-05-05 13:24:57.542013645+08:00

In [7]:
df['Date'] = [str(x)[0:10] for x in df['TxTime']]

In [10]:
df['Time'] = [str(x)[11:16] for x in df['TxTime']]

In [24]:
df['Min'] = [str(x)[3:5] for x in df['Time']]

In [29]:
df['Min'] = df['Min'].astype(int)

In [30]:
df['Min_shift1'] = df['Min'].shift(1)

In [31]:
df

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,AskQty4,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1
0,311.0,1,1,309.5,311.0,2,16,309.0,311.5,7,...,8,37,307.0,313.0,1,2020-03-23 09:08:07.863175154+08:00,2020-03-23,09:08,8,NaN
1,0.0,0,3,309.5,310.0,4,16,309.0,311.0,2,...,18,37,307.0,312.5,8,2020-03-23 09:08:08.816320658+08:00,2020-03-23,09:08,8,8.0
2,0.0,0,5,310.0,310.5,10,1,309.5,311.0,3,...,19,9,308.0,312.5,8,2020-03-23 09:08:13.428466082+08:00,2020-03-23,09:08,8,8.0
3,310.5,2,2,310.0,310.5,6,1,309.5,311.0,3,...,19,9,308.0,312.5,8,2020-03-23 09:08:14.392411470+08:00,2020-03-23,09:08,8,8.0
4,0.0,0,2,310.0,310.5,9,1,309.5,311.0,3,...,19,9,308.0,312.5,8,2020-03-23 09:08:14.763051033+08:00,2020-03-23,09:08,8,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513818,0.0,0,11,465.5,466.0,1,40,465.0,466.5,9,...,37,20,463.5,468.0,10,2020-05-05 13:24:54.418567419+08:00,2020-05-05,13:24,24,24.0
513819,465.5,1,10,465.5,466.0,1,40,465.0,466.5,9,...,37,20,463.5,468.0,10,2020-05-05 13:24:55.337031364+08:00,2020-05-05,13:24,24,24.0
513820,0.0,0,10,465.5,466.0,1,41,465.0,466.5,9,...,37,20,463.5,468.0,10,2020-05-05 13:24:56.263729572+08:00,2020-05-05,13:24,24,24.0
513821,0.0,0,10,465.5,466.0,1,42,465.0,466.5,9,...,37,20,463.5,468.0,10,2020-05-05 13:24:57.500711203+08:00,2020-05-05,13:24,24,24.0
513822,466.0,1,10,465.5,466.5,9,42,465.0,467.0,19,...,10,20,463.5,468.5,4,2020-05-05 13:24:57.542013645+08:00,2020-05-05,13:24,24,24.0

In [33]:
df['step'] = df['Min'] - df['Min_shift1']

In [41]:
for i in range(len(df)):
    if df['step'].iloc[i] == 0:
        continue
    elif df['step'].iloc[i] == -59:
        continue
    elif df['step'].iloc[i] == 1:
        continue
    elif df['step'].iloc[i] == -24:
        continue
    else:
        print(i)

0
615
1047
19040
20129
20144
20424
20572
278097

In [47]:
df['step'].iloc[19040]

-46.0

In [48]:
df['step'].iloc[1047]

-48.0

In [49]:
df['step'].iloc[615]

19.0

In [50]:
#剩下的只差2

In [56]:
df.iloc[20140:20145]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
20140,0.0,0,615,369.5,0.0,0,372,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:12:15.634192467+08:00,2020-03-24,12:12,12,11.0,1.0
20141,0.0,0,614,369.5,0.0,0,372,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:12:28.273286819+08:00,2020-03-24,12:12,12,12.0,0.0
20142,0.0,0,615,369.5,0.0,0,372,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:12:41.571270227+08:00,2020-03-24,12:12,12,12.0,0.0
20143,371.0,1,614,369.5,0.0,0,372,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:12:50.262006760+08:00,2020-03-24,12:12,12,12.0,0.0
20144,0.0,0,615,369.5,0.0,0,372,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:14:17.623193264+08:00,2020-03-24,12:14,14,12.0,2.0

In [57]:
df.iloc[20420:20430]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
20420,0.0,0,580,369.5,0.0,0,371,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:47:35.144410133+08:00,2020-03-24,12:47,47,47.0,0.0
20421,0.0,0,581,369.5,0.0,0,371,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:47:37.063693047+08:00,2020-03-24,12:47,47,47.0,0.0
20422,0.0,0,581,369.5,0.0,0,372,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:47:45.519659518+08:00,2020-03-24,12:47,47,47.0,0.0
20423,0.0,0,581,369.5,0.0,0,373,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:47:53.067716599+08:00,2020-03-24,12:47,47,47.0,0.0
20424,0.0,0,581,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:49:13.462726831+08:00,2020-03-24,12:49,49,47.0,2.0
20425,0.0,0,581,369.5,0.0,0,375,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:49:16.919805765+08:00,2020-03-24,12:49,49,49.0,0.0
20426,0.0,0,582,369.5,0.0,0,375,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:49:41.402850151+08:00,2020-03-24,12:49,49,49.0,0.0
20427,0.0,0,582,369.5,0.0,0,385,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:49:45.601198435+08:00,2020-03-24,12:49,49,49.0,0.0
20428,0.0,0,582,369.5,0.0,0,385,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:49:46.865836620+08:00,2020-03-24,12:49,49,49.0,0.0
20429,0.0,0,582,369.5,0.0,0,385,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:49:46.917041302+08:00,2020-03-24,12:49,49,49.0,0.0

In [58]:
df.iloc[20565:20575]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
20565,0.0,0,589,369.5,0.0,0,666,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:18:12.761387825+08:00,2020-03-24,13:18,18,18.0,0.0
20566,0.0,0,590,369.5,0.0,0,666,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:18:29.068612337+08:00,2020-03-24,13:18,18,18.0,0.0
20567,0.0,0,590,369.5,0.0,0,665,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:18:29.850112200+08:00,2020-03-24,13:18,18,18.0,0.0
20568,0.0,0,591,369.5,0.0,0,665,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:18:32.422558308+08:00,2020-03-24,13:18,18,18.0,0.0
20569,371.0,2,589,369.5,0.0,0,665,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:18:33.072158337+08:00,2020-03-24,13:18,18,18.0,0.0
20570,0.0,0,590,369.5,0.0,0,665,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:18:39.499770403+08:00,2020-03-24,13:18,18,18.0,0.0
20571,0.0,0,590,369.5,0.0,0,667,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:18:40.587765217+08:00,2020-03-24,13:18,18,18.0,0.0
20572,371.0,1,589,369.5,0.0,0,667,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:20:12.499220610+08:00,2020-03-24,13:20,20,18.0,2.0
20573,0.0,0,588,369.5,0.0,0,667,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:20:26.419344664+08:00,2020-03-24,13:20,20,20.0,0.0
20574,0.0,0,588,369.5,0.0,0,668,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 13:20:35.600440264+08:00,2020-03-24,13:20,20,20.0,0.0

In [60]:
df.iloc[278090:278100]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
278090,0.0,0,6,449.0,449.5,2,2,448.5,450.0,3,...,7,447.0,451.5,19,2020-04-13 09:43:33.454047680+08:00,2020-04-13,09:43,43,43.0,0.0
278091,0.0,0,6,449.0,449.5,2,2,448.5,450.0,3,...,9,447.0,451.5,19,2020-04-13 09:43:36.125522614+08:00,2020-04-13,09:43,43,43.0,0.0
278092,0.0,0,6,449.0,449.5,2,2,448.5,450.0,5,...,9,447.0,451.5,19,2020-04-13 09:43:39.872552872+08:00,2020-04-13,09:43,43,43.0,0.0
278093,449.5,1,6,449.0,449.5,1,2,448.5,450.0,5,...,9,447.0,451.5,19,2020-04-13 09:43:46.189725637+08:00,2020-04-13,09:43,43,43.0,0.0
278094,449.5,1,6,449.0,450.0,5,2,448.5,450.5,1,...,9,447.0,452.0,21,2020-04-13 09:43:46.222554445+08:00,2020-04-13,09:43,43,43.0,0.0
278095,0.0,0,6,449.0,450.0,5,2,448.5,450.5,1,...,9,447.0,452.0,21,2020-04-13 09:43:53.161303759+08:00,2020-04-13,09:43,43,43.0,0.0
278096,0.0,0,6,449.0,449.5,1,2,448.5,450.0,5,...,9,447.0,451.5,19,2020-04-13 09:43:56.568954706+08:00,2020-04-13,09:43,43,43.0,0.0
278097,449.5,1,1,449.5,450.0,5,6,449.0,450.5,1,...,4,447.5,452.0,22,2020-04-13 09:45:02.617510796+08:00,2020-04-13,09:45,45,43.0,2.0
278098,0.0,0,2,449.5,450.0,5,6,449.0,450.5,1,...,4,447.5,452.0,22,2020-04-13 09:45:03.676518917+08:00,2020-04-13,09:45,45,45.0,0.0
278099,0.0,0,2,449.5,450.0,5,6,449.0,450.5,1,...,4,447.5,452.0,21,2020-04-13 09:45:03.717487812+08:00,2020-04-13,09:45,45,45.0,0.0

In [55]:
df.iloc[20125:20135]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
20125,0.0,0,612,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:07:31.284893036+08:00,2020-03-24,12:07,7,7.0,0.0
20126,0.0,0,613,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:07:40.607292175+08:00,2020-03-24,12:07,7,7.0,0.0
20127,0.0,0,612,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:07:46.288726091+08:00,2020-03-24,12:07,7,7.0,0.0
20128,0.0,0,615,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:07:52.918318510+08:00,2020-03-24,12:07,7,7.0,0.0
20129,0.0,0,616,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:09:37.107060194+08:00,2020-03-24,12:09,9,7.0,2.0
20130,0.0,0,616,369.5,0.0,0,375,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:09:39.714210272+08:00,2020-03-24,12:09,9,9.0,0.0
20131,0.0,0,616,369.5,0.0,0,373,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:09:46.001661777+08:00,2020-03-24,12:09,9,9.0,0.0
20132,0.0,0,616,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:09:57.449043989+08:00,2020-03-24,12:09,9,9.0,0.0
20133,371.0,1,615,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:10:02.326363325+08:00,2020-03-24,12:10,10,9.0,1.0
20134,371.0,1,614,369.5,0.0,0,374,371.0,0.0,0,...,3,369.5,0.0,0,2020-03-24 12:10:14.289956808+08:00,2020-03-24,12:10,10,10.0,0.0

In [51]:
df.iloc[19035:19045]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
19035,370.0,2,50,369.0,370.0,101,13,368.5,370.5,75,...,29,367.0,0.0,0,2020-03-24 09:46:13.147739887+08:00,2020-03-24,09:46,46,46.0,0.0
19036,370.0,2,50,369.0,370.0,99,13,368.5,370.5,75,...,29,367.0,0.0,0,2020-03-24 09:46:13.775240898+08:00,2020-03-24,09:46,46,46.0,0.0
19037,0.0,0,50,369.0,370.0,99,12,368.5,370.5,75,...,29,367.0,0.0,0,2020-03-24 09:46:13.849853516+08:00,2020-03-24,09:46,46,46.0,0.0
19038,0.0,0,50,369.0,369.5,1,12,368.5,370.0,99,...,29,367.0,0.0,0,2020-03-24 09:46:14.123394489+08:00,2020-03-24,09:46,46,46.0,0.0
19039,0.0,0,50,369.0,369.5,1,12,368.5,370.0,99,...,29,367.0,0.0,0,2020-03-24 09:46:14.174703121+08:00,2020-03-24,09:46,46,46.0,0.0
19040,371.0,5,582,369.5,0.0,0,137,371.0,0.0,0,...,33,369.5,0.0,0,2020-03-24 10:00:53.436851025+08:00,2020-03-24,10:00,0,46.0,-46.0
19041,0.0,0,582,369.5,0.0,0,138,371.0,0.0,0,...,33,369.5,0.0,0,2020-03-24 10:00:54.034841776+08:00,2020-03-24,10:00,0,0.0,0.0
19042,0.0,0,584,369.5,0.0,0,138,371.0,0.0,0,...,33,369.5,0.0,0,2020-03-24 10:00:56.231395721+08:00,2020-03-24,10:00,0,0.0,0.0
19043,371.0,1,583,369.5,0.0,0,138,371.0,0.0,0,...,33,369.5,0.0,0,2020-03-24 10:00:58.498599052+08:00,2020-03-24,10:00,0,0.0,0.0
19044,0.0,0,583,369.5,0.0,0,148,371.0,0.0,0,...,33,369.5,0.0,0,2020-03-24 10:00:58.738235235+08:00,2020-03-24,10:00,0,0.0,0.0

In [52]:
df.iloc[1040:1050]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
1040,0.0,0,11,319.0,319.5,10,11,318.5,320.0,8,...,15,317.0,321.5,5,2020-03-23 09:49:38.917783499+08:00,2020-03-23,09:49,49,49.0,0.0
1041,0.0,0,11,319.0,319.5,8,11,318.5,320.0,8,...,15,317.0,321.5,4,2020-03-23 09:49:39.972958088+08:00,2020-03-23,09:49,49,49.0,0.0
1042,319.5,2,11,319.0,319.5,6,11,318.5,320.0,9,...,15,317.0,321.5,4,2020-03-23 09:49:40.044453382+08:00,2020-03-23,09:49,49,49.0,0.0
1043,0.0,0,11,319.0,319.5,6,11,318.5,320.0,10,...,15,317.0,321.5,4,2020-03-23 09:49:40.528828621+08:00,2020-03-23,09:49,49,49.0,0.0
1044,319.5,2,11,319.0,319.5,4,11,318.5,320.0,10,...,15,317.0,321.5,4,2020-03-23 09:49:41.072627068+08:00,2020-03-23,09:49,49,49.0,0.0
1045,0.0,0,9,319.0,319.5,2,11,318.5,320.0,10,...,15,317.0,321.5,4,2020-03-23 09:49:41.447326660+08:00,2020-03-23,09:49,49,49.0,0.0
1046,0.0,0,9,319.0,319.5,2,13,318.5,320.0,10,...,15,317.0,321.5,4,2020-03-23 09:49:41.463659763+08:00,2020-03-23,09:49,49,49.0,0.0
1047,320.0,2,16,320.0,321.0,4,3,319.5,321.5,2,...,37,318.0,323.0,18,2020-03-23 10:01:23.853939295+08:00,2020-03-23,10:01,1,49.0,-48.0
1048,320.0,1,15,320.0,321.0,4,3,319.5,321.5,2,...,37,318.0,323.0,18,2020-03-23 10:01:23.915221453+08:00,2020-03-23,10:01,1,1.0,0.0
1049,0.0,0,14,320.0,321.0,4,3,319.5,321.5,2,...,38,318.0,323.0,18,2020-03-23 10:01:29.299542427+08:00,2020-03-23,10:01,1,1.0,0.0

In [53]:
df.iloc[610:620]

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,BidQty5,Bid5,Ask5,AskQty5,TxTime,Date,Time,Min,Min_shift1,step
610,0.0,0,6,310.5,312.0,8,53,310.0,312.5,10,...,7,308.5,314.0,5,2020-03-23 09:22:51.506148577+08:00,2020-03-23,09:22,22,22.0,0.0
611,0.0,0,7,310.5,311.5,2,51,310.0,312.0,8,...,7,308.5,313.5,7,2020-03-23 09:22:54.926523209+08:00,2020-03-23,09:22,22,22.0,0.0
612,0.0,0,7,310.5,311.5,2,51,310.0,312.0,8,...,7,308.5,313.5,7,2020-03-23 09:22:54.937560081+08:00,2020-03-23,09:22,22,22.0,0.0
613,311.5,1,7,310.5,311.5,1,51,310.0,312.0,8,...,7,308.5,313.5,7,2020-03-23 09:22:57.171194077+08:00,2020-03-23,09:22,22,22.0,0.0
614,0.0,0,2,311.0,311.5,1,7,310.5,312.0,8,...,24,309.0,313.5,7,2020-03-23 09:22:57.399313211+08:00,2020-03-23,09:22,22,22.0,0.0
615,0.0,0,16,324.0,325.0,14,19,323.5,325.5,3,...,4,321.5,327.0,15,2020-03-23 09:41:02.828234911+08:00,2020-03-23,09:41,41,22.0,19.0
616,325.0,2,11,324.0,325.0,12,19,323.5,325.5,3,...,4,321.5,327.0,15,2020-03-23 09:41:02.995538235+08:00,2020-03-23,09:41,41,41.0,0.0
617,0.0,0,11,324.0,325.0,10,19,323.5,326.0,7,...,4,321.5,327.5,7,2020-03-23 09:41:04.404900551+08:00,2020-03-23,09:41,41,41.0,0.0
618,0.0,0,11,324.0,325.0,10,19,323.5,326.0,7,...,4,321.5,327.5,7,2020-03-23 09:41:04.737106800+08:00,2020-03-23,09:41,41,41.0,0.0
619,325.0,2,3,324.5,325.0,5,11,324.0,325.5,5,...,5,322.0,327.0,14,2020-03-23 09:41:06.508829832+08:00,2020-03-23,09:41,41,41.0,0.0

In [61]:
#drop 3/23

In [62]:
df = pd.read_csv('./data/3406_2.csv')

In [63]:
#data preprocessing
df['spread1'] = df['Ask1'] - df['Bid1']
df['spread2'] = df['Ask2'] - df['Bid2']
df['spread3'] = df['Ask3'] - df['Bid3']
df['spread4'] = df['Ask4'] - df['Bid4']
df['spread5'] = df['Ask5'] - df['Bid5']
df['mid2'] = (df['Ask2'] + df['Bid2']) / 2
df['mid3'] = (df['Ask3'] + df['Bid3']) / 2
df['mid4'] = (df['Ask4'] + df['Bid4']) / 2
df['mid5'] = (df['Ask5'] + df['Bid5']) / 2
df['a51_diff'] = df['Ask5'] - df['Ask1']
df['b15_diff'] = df['Bid1'] - df['Bid5']
df['a21_diff_abs'] = np.abs(df['Ask2'] - df['Ask1'])
df['a32_diff_abs'] = np.abs(df['Ask3'] - df['Ask2'])
df['a43_diff_abs'] = np.abs(df['Ask4'] - df['Ask3'])
df['a54_diff_abs'] = np.abs(df['Ask5'] - df['Ask4'])
df['b21_diff_abs'] = np.abs(df['Bid2'] - df['Bid1'])
df['b32_diff_abs'] = np.abs(df['Bid3'] - df['Bid2'])
df['b43_diff_abs'] = np.abs(df['Bid4'] - df['Bid3'])
df['b54_diff_abs'] = np.abs(df['Bid5'] - df['Bid4'])
df['a_mean'] = (df['Ask1'] +df['Ask2'] +df['Ask3'] +df['Ask4'] +df['Ask5']) / 5
df['b_mean'] = (df['Bid1'] +df['Bid2'] +df['Bid3'] +df['Bid4'] +df['Bid5']) / 5
df['aq_mean'] = (df['AskQty1'] +df['AskQty2'] +df['AskQty3'] +df['AskQty4'] +df['AskQty5']) / 5
df['bq_mean'] = (df['BidQty1'] +df['BidQty2'] +df['BidQty3'] +df['BidQty4'] +df['BidQty5']) / 5
df['p_acc_diff'] = (df['Ask1'] - df['Bid1']) +(df['Ask2'] - df['Bid2']) + (df['Ask3'] - df['Bid3']) + (df['Ask4'] - df['Bid4']) + (df['Ask5'] - df['Bid5'])
df['q_acc_diff'] = (df['AskQty1'] - df['BidQty1']) +(df['AskQty2'] - df['BidQty2']) + (df['AskQty3'] - df['BidQty3']) + (df['AskQty4'] - df['BidQty4']) + (df['AskQty5'] - df['BidQty5'])
#1 tick
df['da1_dt_1'] = df['Ask1'] - df['Ask1'].shift(1)
df['da2_dt_1'] = df['Ask2'] - df['Ask2'].shift(1)
df['da3_dt_1'] = df['Ask3'] - df['Ask3'].shift(1)
df['da4_dt_1'] = df['Ask4'] - df['Ask4'].shift(1)
df['da5_dt_1'] = df['Ask5'] - df['Ask5'].shift(1)
df['db1_dt_1'] = df['Bid1'] - df['Bid1'].shift(1)
df['db2_dt_1'] = df['Bid2'] - df['Bid2'].shift(1)
df['db3_dt_1'] = df['Bid3'] - df['Bid3'].shift(1)
df['db4_dt_1'] = df['Bid4'] - df['Bid4'].shift(1)
df['db5_dt_1'] = df['Bid5'] - df['Bid5'].shift(1)
#5 ticks
df['da1_dt_5'] = df['Ask1'] - df['Ask1'].shift(5)
df['da2_dt_5'] = df['Ask2'] - df['Ask2'].shift(5)
df['da3_dt_5'] = df['Ask3'] - df['Ask3'].shift(5)
df['da4_dt_5'] = df['Ask4'] - df['Ask4'].shift(5)
df['da5_dt_5'] = df['Ask5'] - df['Ask5'].shift(5)
df['db1_dt_5'] = df['Bid1'] - df['Bid1'].shift(5)
df['db2_dt_5'] = df['Bid2'] - df['Bid2'].shift(5)
df['db3_dt_5'] = df['Bid3'] - df['Bid3'].shift(5)
df['db4_dt_5'] = df['Bid4'] - df['Bid4'].shift(5)
df['db5_dt_5'] = df['Bid5'] - df['Bid5'].shift(5)
##10 ticks
df['da1_dt_10'] = df['Ask1'] - df['Ask1'].shift(10)
df['da2_dt_10'] = df['Ask2'] - df['Ask2'].shift(10)
df['da3_dt_10'] = df['Ask3'] - df['Ask3'].shift(10)
df['da4_dt_10'] = df['Ask4'] - df['Ask4'].shift(10)
df['da5_dt_10'] = df['Ask5'] - df['Ask5'].shift(10)
df['db1_dt_10'] = df['Bid1'] - df['Bid1'].shift(10)
df['db2_dt_10'] = df['Bid2'] - df['Bid2'].shift(10)
df['db3_dt_10'] = df['Bid3'] - df['Bid3'].shift(10)
df['db4_dt_10'] = df['Bid4'] - df['Bid4'].shift(10)
df['db5_dt_10'] = df['Bid5'] - df['Bid5'].shift(10)
#1 tick
df['daq1_dt_1'] = df['AskQty1'] - df['AskQty1'].shift(1)
df['daq2_dt_1'] = df['AskQty2'] - df['AskQty2'].shift(1)
df['daq3_dt_1'] = df['AskQty3'] - df['AskQty3'].shift(1)
df['daq4_dt_1'] = df['AskQty4'] - df['AskQty4'].shift(1)
df['daq5_dt_1'] = df['AskQty5'] - df['AskQty5'].shift(1)
df['dbq1_dt_1'] = df['BidQty1'] - df['BidQty1'].shift(1)
df['dbq2_dt_1'] = df['BidQty2'] - df['BidQty2'].shift(1)
df['dbq3_dt_1'] = df['BidQty3'] - df['BidQty3'].shift(1)
df['dbq4_dt_1'] = df['BidQty4'] - df['BidQty4'].shift(1)
df['dbq5_dt_1'] = df['BidQty5'] - df['BidQty5'].shift(1)
#5 ticks
df['daq1_dt_5'] = df['AskQty1'] - df['AskQty1'].shift(5)
df['daq2_dt_5'] = df['AskQty2'] - df['AskQty2'].shift(5)
df['daq3_dt_5'] = df['AskQty3'] - df['AskQty3'].shift(5)
df['daq4_dt_5'] = df['AskQty4'] - df['AskQty4'].shift(5)
df['daq5_dt_5'] = df['AskQty5'] - df['AskQty5'].shift(5)
df['dbq1_dt_5'] = df['BidQty1'] - df['BidQty1'].shift(5)
df['dbq2_dt_5'] = df['BidQty2'] - df['BidQty2'].shift(5)
df['dbq3_dt_5'] = df['BidQty3'] - df['BidQty3'].shift(5)
df['dbq4_dt_5'] = df['BidQty4'] - df['BidQty4'].shift(5)
df['dbq5_dt_5'] = df['BidQty5'] - df['BidQty5'].shift(5)
#10 ticks
df['daq1_dt_10'] = df['AskQty1'] - df['AskQty1'].shift(10)
df['daq2_dt_10'] = df['AskQty2'] - df['AskQty2'].shift(10)
df['daq3_dt_10'] = df['AskQty3'] - df['AskQty3'].shift(10)
df['daq4_dt_10'] = df['AskQty4'] - df['AskQty4'].shift(10)
df['daq5_dt_10'] = df['AskQty5'] - df['AskQty5'].shift(10)
df['dbq1_dt_10'] = df['BidQty1'] - df['BidQty1'].shift(10)
df['dbq2_dt_10'] = df['BidQty2'] - df['BidQty2'].shift(10)
df['dbq3_dt_10'] = df['BidQty3'] - df['BidQty3'].shift(10)
df['dbq4_dt_10'] = df['BidQty4'] - df['BidQty4'].shift(10)
df['dbq5_dt_10'] = df['BidQty5'] - df['BidQty5'].shift(10)
#response 放在最後一行
df['mid1'] = (df['Ask1'] + df['Bid1']) / 2
#drop nan
df = df.dropna()
df = df.reset_index(drop = True)
#b43_diff_abs and b54_diff_abs are all same values -> drop
#df = df.drop(['b43_diff_abs'], axis = 1)
#df = df.drop(['b54_diff_abs'], axis = 1)
from datetime import datetime
df['TxTime'] = pd.to_datetime(df['TxTime'])
df['TxTime'] = [str(x)[0:10] for x in df['TxTime']]
#some index's ask1 = 0, we change that mid1 to bid1
idx = df[df['Ask1'] == 0].index
for i in idx:
    df['mid1'].iloc[i] = df['Bid1'].iloc[i]

C:\Users\user10\Anaconda3\envs\PythonGPU\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [64]:
#3/23 3/24 data有缺值 -> drop
df = df[df['TxTime'] != '2020-03-23']
df = df[df['TxTime'] != '2020-03-24']
df['TxTime'].unique()

array(['2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30',
       '2020-03-31', '2020-04-01', '2020-04-06', '2020-04-07',
       '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-13',
       '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17',
       '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
       '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29',
       '2020-04-30', '2020-05-04', '2020-05-05'], dtype=object)

In [65]:
#27days -> 19/8 ~4/22~

In [67]:
df = df.reset_index(drop = True)
df2 = df.drop(['TxTime'], axis = 1)

In [72]:
df[df.TxTime == '2020-04-22']

,DealPrice,DealQty,BidQty1,Bid1,Ask1,AskQty1,BidQty2,Bid2,Ask2,AskQty2,...,daq2_dt_10,daq3_dt_10,daq4_dt_10,daq5_dt_10,dbq1_dt_10,dbq2_dt_10,dbq3_dt_10,dbq4_dt_10,dbq5_dt_10,mid1
351872,440.0,61,14,440.0,440.5,1,4,439.5,441.0,7,...,-2.0,-18.0,-2.0,-24.0,2.0,-2.0,-1.0,-3.0,6.0,440.25
351873,440.5,1,13,440.0,441.0,7,4,439.5,441.5,1,...,-8.0,-15.0,-5.0,62.0,1.0,-2.0,-1.0,-3.0,6.0,440.50
351874,440.0,1,12,440.0,441.0,7,4,439.5,441.5,1,...,-8.0,-15.0,-5.0,62.0,0.0,-2.0,-1.0,-1.0,6.0,440.50
351875,440.0,3,9,440.0,441.0,7,4,439.5,441.5,1,...,-8.0,-15.0,-5.0,62.0,-2.0,-2.0,-1.0,-1.0,6.0,440.50
351876,0.0,0,1,440.5,441.0,7,9,440.0,441.5,1,...,-18.0,-5.0,-18.0,81.0,-10.0,3.0,-5.0,6.0,-6.0,440.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372022,0.0,0,8,444.0,445.0,26,11,443.5,445.5,9,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,444.50
372023,0.0,0,8,444.0,445.0,26,11,443.5,445.5,9,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,444.50
372024,0.0,0,8,444.0,445.0,26,9,443.5,445.5,9,...,0.0,0.0,0.0,0.0,7.0,5.0,6.0,-10.0,11.0,444.50
372025,0.0,0,8,444.0,445.0,26,9,443.5,445.5,9,...,0.0,0.0,0.0,0.0,7.0,3.0,4.0,-10.0,11.0,444.50
372026,0.0,0,8,444.0,445.0,26,8,443.5,445.5,9,...,0.0,0.0,0.0,0.0,7.0,2.0,4.0,-10.0,10.0,444.50

In [74]:
df['TxTime'].iloc[0:372027]

0         2020-03-25
1         2020-03-25
2         2020-03-25
3         2020-03-25
4         2020-03-25
             ...
372022    2020-04-22
372023    2020-04-22
372024    2020-04-22
372025    2020-04-22
372026    2020-04-22
Name: TxTime, Length: 372027, dtype: object

In [75]:
df['TxTime'].iloc[0:372028]

0         2020-03-25
1         2020-03-25
2         2020-03-25
3         2020-03-25
4         2020-03-25
             ...
372023    2020-04-22
372024    2020-04-22
372025    2020-04-22
372026    2020-04-22
372027    2020-04-23
Name: TxTime, Length: 372028, dtype: object